run = "python3 main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

modules = ["python-3.12"]
packages = ["cacert", "glibcLocales", "libxcrypt"]

[[ports]]
localPort = 81
externalPort = 80
